node_modules
.env
.env.local
.DS_Store
dist
coverage
.nyc_output

# Hardhat
apps/contracts/artifacts
apps/contracts/cache
apps/contracts/typechain-types
apps/contracts/hardhat.log
apps/contracts/hardhat_debug.log

# Next.js
.next
out
apps/frontend/dev.log
