node_modules
.env
.env.local
.DS_Store
dist
coverage
.nyc_output

# Hardhat
contracts/artifacts
contracts/cache
contracts/typechain-types
contracts/coverage
contracts/hardhat.log
contracts/hardhat_debug.log

# Next.js
.next
out
apps/fe/dev.log
docs/deploy-previews.md
